[submodule "apps/common"]
	path = apps/common
	url = git@github.com:policycompass/policycompass-common.git
[submodule "apps/referencepool"]
	path = apps/referencepool
	url = git@github.com:policycompass/policycompass-referencepool.git
[submodule "apps/visualizationsmanager"]
	path = apps/visualizationsmanager
	url = git@github.com:policycompass/policycompass-visualizationmanager.git
[submodule "apps/searchmanager"]
	path = apps/searchmanager
	url = git@github.com:policycompass/policycompass-searchmanager.git
