[submodule "apps/metricsmanager"]
	path = apps/metricsmanager
	url = git@github.com:policycompass/policycompass-metricsmanager.git
[submodule "apps/common"]
	path = apps/common
	url = git@github.com:policycompass/policycompass-common.git
[submodule "apps/eventsmanager"]
	path = apps/eventsmanager
	url = git@github.com:policycompass/policycompass-eventsmanager.git
[submodule "apps/referencepool"]
	path = apps/referencepool
	url = git@github.com:policycompass/policycompass-referencepool.git