Django==1.6.5
djangorestframework
django-rest-swagger
django-apptemplates
south
psycopg2

-e git+https://github.com/policycompass/policycompass-metricsmanager#egg=metricsmanager

#-r src/metrics_manager/requirements.txt